
###> symfony ###
/vendor/
###< symfony ###

###> tests ###
/dev/
###< tests ###

###> vscode ###
/.vscode/
###< vscode ###

###> psalm ###
/.idea/
psalm_baseline.xml
###< psalm ###

###> docker data ###
/docker/database/mysql/data
/docker/database/postgres/data
###< docker data ###

###> phpunit cahe ###
/.phpunit.result.cache
###< phpunit cahe ###

###> php-cs-fixer cache ###
/.php-cs-fixer.cache
###< php-cs-fixer cache ###





