# Directory
/vendor/
/dev/
/.vscode/
/.idea/
/docker/database/postgres/data
/docker/database/mysql/data
/log/

# Files
.*
index.php
psalm_baseline.xml
.phpunit.result.cache
.php-cs-fixer.cache
.DS_Store
